# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/
*.egg

# Logs
*.log

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints/

# dotenv
.env
.env.*

# Type checker
.mypy_cache/
.pyre/
.pytype/

# Cython debug symbols
cython_debug/
